__pycache__/
datasets/
.venv/
.DS_Store

# LaTeX build artifacts
presentation/*.aux
presentation/*.fdb_latexmk
presentation/*.fls
presentation/*.log
presentation/*.out
presentation/*.synctex.gz
presentation/*.synctex(busy)
presentation/mainNotes.bib
presentation/main.bbl
presentation/main.blg
presentation/main.pdf


old/
distill/
results/
